.idea
*.pyc
*.zip
*.pth
lwganrt/pretrains
lwganrt/assets/samples
lwganrt/outputs/results
*debug.sh
*debug.py
*build
*dist
lwganrt/thirdparty/neural_renderer/files.txt
lwganrt/piao_scripts
lwganrt/doc/bug_list.md
*.egg-info
